.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 6px;
  border: 1px solid var(--color-line-normal);
  background-color: var(--color-background-normal-normal);
  border-radius: 10px;
  font: var(--font-b2-no-b);
  color: var(--color-label-normal);
}

.selected {
  background-color: var(--color-secondary-alternative);
  border: 1px solid var(--color-secondary-strong);
}
