.wrapper {
  padding: 20px 16px;
  background-color: var(--color-static-white);
  border: 1px solid var(--color-line-normal);
  border-radius: 4px;
}

.selected {
  background-color: var(--color-secondary-alternative);
  border: 1px solid var(--color-secondary-strong);
}
