.SelectedItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  gap: 10px;
  background-color: var(--color-background-normal-normal);
  border: 1px solid var(--color-line-normal);
  border-radius: 10px;
}

.titlewrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  font: var(--font-t2-b);
  color: var(--color-label-normal);
}

.changebtn {
  font: var(--font-b4-no-m);
  color: var(--color-status-positive);
}

.timeinfo {
  font: var(--font-b3-no-b);
  color: var(--color-primary-normal);
}

.stationinfo {
  font: var(--font-c2-m);
  color: var(--color-label-assistive);
}
