@import url(./resetStyle.css);

@font-face {
  font-family: "Pretendard";
  src: url(./font/PretendardVariable.ttf);
}

body * {
  font-family: "Pretendard";
  box-sizing: border-box;
}

.verticalwrap::-webkit-scrollbar {
  display: none;
}

/* ORIGINAL PAGE TOKEN */
:root {
  --color-white: #fff;
  --color-gray-100: #dbdbdb;
  --color-gray-200: #c9c9c9;
  --color-gray-300: #bbbbbb;
  --color-gray-400: #747474;
  --color-gray-500: #555555;
  --color-gray-600: #424242;
  --color-light-blue-50: #e7f1ff;
  --color-light-blue-100: #cde0ee;
  --color-light-blue-200: #0397d6;
  --color-blue-02: #083b82;
  --color-navy-01: #0c3c60;
  --color-navy-02: #003366;
  --color-red-01: #e77c74;
  --color-red-02: #d8361b;
  --color-red-03: #ed4f44;

  /* Typography Variables */
  --font-orig-h1: 500 16px/1.2 "Pretendard", sans-serif;
  --font-orig-t1: 500 19px/1.2 "Pretendard", sans-serif;
  --font-orig-t2: 500 12px/1.2 "Pretendard", sans-serif;
  --font-orig-t2-b: 700 12px/1.2 "Pretendard", sans-serif;
  --font-orig-t2-t: 500 12px/1.54 "Pretendard", sans-serif;
  --font-orig-b1: 500 16px/1.2 "Pretendard", sans-serif;
  --font-orig-b1-b: 700 16px/1.2 "Pretendard", sans-serif;
  --font-orig-b2: 300 15px/1.2 "Pretendard", sans-serif;
  --font-orig-b2-b: 700 15px/1.2 "Pretendard", sans-serif;
  --font-orig-b3-l: 300 14px/1.2 "Pretendard", sans-serif;
  --font-orig-b3-r: 400 14px/1.2 "Pretendard", sans-serif;
  --font-orig-b3-m: 500 14px/1.2 "Pretendard", sans-serif;
  --font-orig-b3-sb: 600 14px/1.2 "Pretendard", sans-serif;
  --font-orig-b3-b: 700 14px/1.2 "Pretendard", sans-serif;
  --font-orig-b4: 400 13px/1.2 "Pretendard", sans-serif;
  --font-orig-b4-el: 200 13px/1.2 "Pretendard", sans-serif;
}

/* IMPROVMENT PAGE TOKEN */
/* $$$ PRIMITIVE VARIABLES COLOR $$$ */
:root {
  /* usage for semantic */
  /* Common */
  --common-0: #000;
  --common-100: #fff;

  /* Gray */
  --gray-10: #222;
  --gray-20: #4a4a4a;
  --gray-30: #666;
  --gray-40: #727272;
  --gray-50: #9c9c9c;
  --gray-60: #bcbcbc;
  --gray-70: #c9c9c9;
  --gray-80: #dfdfdf;
  --gray-90: #eaeaea;
  --gray-95: #f0f0f0;
  --gray-99: #f7f7f7;

  /* Light Violet */
  --lightviolet-10: #393a47;
  --lightviolet-20: #4c4e5f;
  --lightviolet-30: #71748f;
  --lightviolet-40: #979bbe;
  --lightviolet-50: #bdc2ee;
  --lightviolet-60: #c8ccf1;
  --lightviolet-70: #d3d6f4;
  --lightviolet-80: #dee1f7;
  --lightviolet-90: #e9ebf9;
  --lightviolet-95: #f0f2fb;
  --lightviolet-99: #f8f9fd;

  /* Gray Blue */
  --grayblue-10: #1e2930;
  --grayblue-20: #26333c;
  --grayblue-30: #2d3d48;
  --grayblue-40: #505d67;
  --grayblue-50: #596a76;
  --grayblue-60: #78848d;
  --grayblue-70: #99a4ac;
  --grayblue-80: #bbc4cb;
  --grayblue-90: #d6dee3;
  --grayblue-95: #e1e8ed;
  --grayblue-99: #f0f4f6;

  /* Sky Blue */
  --skyblue-10: #033246;
  --skyblue-20: #044b69;
  --skyblue-30: #05648b;
  --skyblue-40: #077dae;
  --skyblue-50: #0896d1;
  --skyblue-60: #31a8d9;
  --skyblue-70: #5ab9e0;
  --skyblue-80: #84cbe8;
  --skyblue-90: #addcf0;
  --skyblue-95: #e6f4fa;
  --skyblue-99: #f3fafd;

  /* Blue */
  --blue-10: #031421;
  --blue-20: #052742;
  --blue-30: #083b63;
  --blue-40: #0a4e84;
  --blue-50: #0d62a5;
  --blue-60: #3d81b7;
  --blue-70: #6ea1c9;
  --blue-80: #9ec0db;
  --blue-90: #cfe0ed;
  --blue-95: #e7eff6;
  --blue-99: #eef4f9;

  /* Red */
  --red-10: #6b0000;
  --red-20: #8c0000;
  --red-30: #b50000;
  --red-40: #e80000;
  --red-50: #ff0000;
  --red-60: #f93628;
  --red-70: #f5504e;
  --red-80: #ff8a8a;
  --red-90: #ffb0b0;
  --red-95: #ffe6e6;
  --red-99: #fff2f2;

  /* Orange */
  --orange-10: #882700;
  --orange-20: #b43827;
  --orange-30: #bc4c3d;
  --orange-40: #d6503d;
  --orange-50: #f04922;
  --orange-60: #f84600;
  --orange-70: #f84f21;
  --orange-80: #fa8354;
  --orange-90: #fcaa8a;
  --orange-95: #fdc6b0;
  --orange-99: #feede6;

  /* Violet */
  --violet-10: #381c6b;
  --violet-20: #49258c;
  --violet-30: #5024a4;
  --violet-40: #5e30b5;
  --violet-50: #673bb7;
  --violet-60: #8543ff;
  --violet-70: #9d69ff;
  --violet-80: #ad81ff;
  --violet-90: #c7a9ff;
  --violet-95: #d9c5ff;
  --violet-99: #f3ecff;

  /* Green */
  --green-10: #174009;
  --green-20: #234b15;
  --green-30: #2e621c;
  --green-40: #3b7f24;
  --green-50: #4ca32e;
  --green-60: #53b332;
  --green-70: #75c25b;
  --green-80: #8ccc76;
  --green-90: #b0dca1;
  --green-95: #cae7bf;
  --green-99: #eef7eb;
}

/* $$$ PRIMITIVE VARIABLES FONT $$$ */
:root {
  /* Font */
  /* Heading1 */
  --font-h1-sb: 600 var(--sizing-20) / 1.2 "Pretendard", sans-serif;

  /* Display1 */
  --font-d1-sb: 600 var(--sizing-30) / 1.2 "Pretendard", sans-serif;

  /* Title1 */
  /* --font-t1-b: 700 var(--sizing-18) / 1.2 "Pretendard", sans-serif; */
  --font-t1-b: 600 var(--sizing-18) / 1.2 "Pretendard", sans-serif;
  --font-t1-sb: 600 var(--sizing-18) / 1.2 "Pretendard", sans-serif;

  /* Title2 */
  /* --font-t2-b: 700 var(--sizing-16) / 1.2 "Pretendard", sans-serif; */
  --font-t2-b: 600 var(--sizing-16) / 1.2 "Pretendard", sans-serif;

  /* Title3 */
  /* --font-t3-b: 700 var(--sizing-14) / 1.2 "Pretendard", sans-serif; */
  --font-t3-b: 600 var(--sizing-14) / 1.2 "Pretendard", sans-serif;
  --font-t3-sb: 600 var(--sizing-14) / 1.2 "Pretendard", sans-serif;
  --font-t3-m: 500 var(--sizing-14) / 1.2 "Pretendard", sans-serif;
  --font-t3-r: 400 var(--sizing-14) / 1.2 "Pretendard", sans-serif;

  /* Body1 */
  --font-b1-no-m: 500 var(--sizing-18) / 1.2 "Pretendard", sans-serif;
  --font-b1-no-r: 400 var(--sizing-18) / 1.2 "Pretendard", sans-serif;

  /* Body2 */
  /* --font-b2-no-b: 700 var(--sizing-16) / 1.2 "Pretendard", sans-serif; */
  --font-b2-no-b: 600 var(--sizing-16) / 1.2 "Pretendard", sans-serif;
  --font-b2-no-m: 500 var(--sizing-16) / 1.2 "Pretendard", sans-serif;
  --font-b2-re-sb-120: 600 var(--sizing-16) / 1.2 "Pretendard", sans-serif;
  --font-b2-re-r-120: 400 var(--sizing-16) / 1.2 "Pretendard", sans-serif;

  /* Body3 */
  /* --font-b3-no-b: 700 var(--sizing-14) / 1.2 "Pretendard", sans-serif; */
  --font-b3-no-b: 600 var(--sizing-14) / 1.2 "Pretendard", sans-serif;
  --font-b3-no-sb: 600 var(--sizing-14) / 1.2 "Pretendard", sans-serif;
  --font-b3-no-m: 500 var(--sizing-14) / 1.2 "Pretendard", sans-serif;
  --font-b3-no-r: 400 var(--sizing-14) / 1.2 "Pretendard", sans-serif;
  --font-b3-no-l: 300 var(--sizing-14) / 1.2 "Pretendard", sans-serif;
  --font-b3-re-r-160: 400 var(--sizing-14) / 1.6 "Pretendard", sans-serif;
  --font-b3-re-r-140: 400 var(--sizing-14) / 1.4 "Pretendard", sans-serif;

  /* Body4 */
  /* --font-b4-no-b: 700 var(--sizing-12) / 1.2 "Pretendard", sans-serif; */
  --font-b4-no-b: 600 var(--sizing-12) / 1.2 "Pretendard", sans-serif;
  --font-b4-no-sb: 600 var(--sizing-12) / 1.2 "Pretendard", sans-serif;
  --font-b4-no-m: 500 var(--sizing-12) / 1.2 "Pretendard", sans-serif;
  --font-b4-re-r-130: 400 var(--sizing-12) / 1.3 "Pretendard", sans-serif;

  /* Label1 */
  --font-l1-sb: 600 var(--sizing-16) / 1.2 "Pretendard", sans-serif;
  --font-l1-r: 400 var(--sizing-16) / 1.2 "Pretendard", sans-serif;

  /* Label2 */
  --font-l2-r: 400 var(--sizing-14) / 1.2 "Pretendard", sans-serif;

  /* Label3 */
  --font-l3-r: 400 var(--sizing-12) / 1.2 "Pretendard", sans-serif;

  /* Figure */
  --font-f1-r: 400 var(--sizing-18) / 1.2 "Pretendard", sans-serif;
  --font-f2-m: 500 var(--sizing-16) / 1.2 "Pretendard", sans-serif;
  --font-f3-m: 500 var(--sizing-10) / 1.2 "Pretendard", sans-serif;

  /* Caption1 */
  --font-c1-r: 400 var(--sizing-14) / 1.2 "Pretendard", sans-serif;

  /* Caption2 */
  --font-c2-m: 500 var(--sizing-12) / 1.2 "Pretendard", sans-serif;
}

/* $$$ PRIMITIVE VARIABLES SIZING $$$ */
:root {
  /* Sizing */
  --sizing-30: 30px;
  --sizing-20: 20px;
  --sizing-18: 18px;
  --sizing-16: 16px;
  --sizing-14: 14px;
  --sizing-12: 12px;
  --sizing-10: 10px;
}

/* $$$ SEMANTIC VARIABLES COLOR $$$ */
:root {
  /* Primary */
  --color-primary-normal: var(--blue-50);
  --color-primary-strong: var(--blue-30);

  /* Secondary */
  --color-secondary-normal: var(--blue-90);
  --color-secondary-alternative: var(--blue-95);
  --color-secondary-strong: var(--blue-80);

  /* Tertiary */
  --color-tertiary-normal: var(--skyblue-60);
  --color-tertiary-alternative: var(--skyblue-90);

  /* Static */
  --color-static-white: var(--common-100);
  --color-static-black: var(--common-0);

  /* Label */
  --color-label-strong: var(--common-0);
  --color-label-normal: var(--gray-10);
  --color-label-alternative: var(--gray-20);
  --color-label-assistive: var(--gray-40);
  --color-label-disable: var(--gray-60);

  /* Background */
  --color-background-normal-normal: var(--common-100);
  --color-background-normal-emphasis: var(--grayblue-95);
  --color-background-normal-alternative: var(--gray-90);
  --color-background-normal-assistive: var(--gray-95);
  --color-background-normal-neutral: var(--gray-99);

  --color-background-elevated-normal: var(--gray-50);

  /* Line */
  --color-line-normal: var(--gray-80);
  --color-line-strong: var(--gray-30);
  --color-line-neutral: var(--gray-60);
  --color-line-alternative: var(--gray-90);
  --color-line-assistive: var(--grayblue-95);

  /* Fill */
  --color-fill-strong: var(--gray-20);
  --color-fill-normal: var(--gray-40);
  --color-fill-assistive: var(--gray-99);
  --color-fill-alternative: var(--grayblue-99);
  --color-fill-disable: var(--gray-90);

  /* Status */
  --color-status-notice: var(--red-40);
  --color-status-warning: var(--orange-50);
  --color-status-informative: var(--blue-30);
  --color-status-positive: var(--skyblue-50);

  /* Material */
  /* --color-material-overlay: #2d3d4890; */
  --color-material-overlay: rgba(45, 61, 72, 0.9);
  --color-material-dimmer: #00000050;
}

/* input[type="radio"] default styling */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #dbdbdb;
  background-color: var(--color-white);
  border-radius: 50%;
  outline: none;
  margin: 0;
}

/* input[type="radio"] checked styling */
input[type="radio"]:checked {
  background-color: var(--color-light-blue-200);
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px #dbdbdb;
}

/* input[type="checkbox"] styling */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-gray-400);
  border-radius: 0;
  outline: none;
  margin: 0 6px 0 0;
  position: relative; /* ::after를 사용할 수 있도록 position 추가 */
}

input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: var(--color-gray-400); /* 이모지 색상 */
}

/* 기본 select 스타일 제거 및 커스터마이징 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: var(--font-orig-b3-l);
  border: 1px solid var(--color-gray-400);
  background-color: var(--color-white);
  color: var(--color-gray-800);
  width: 100%;
  height: 36px;
  padding: 0 40px 0 6px;
  position: relative;
  cursor: pointer;
  background-image: url("../assets/icon/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40px 36px;
}

/* 선택된 텍스트 스타일 */
select:focus {
  border: 1px solid var(--color-blue);
}

/* input[type="text"] 스타일 커스터마이징 */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  height: 40px;
  border: 1px solid var(--color-gray-200);
  font: var(-—font-b3-l);
  padding-left: 12px;
  margin: 0;
}
