.AgreeButton {
  width: 100%;
  padding: 12px;
  background-color: var(--color-background-normal-emphasis);
  display: flex;
  justify-content: flex-start;
  gap: 6px;
  font: var(--font-b2-no-m);
  border-radius: 4px;
  align-items: center;
}
