.DimmedBox {
  padding: 19px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background-color: var(--color-material-overlay);
  color: var(--color-static-white);
}
