.ModalNavBtn {
  padding: 12px 16px;
  font: var(--font-b3-no-m);
  color: var(--color-label-normal);
  background-color: var(--color-background-normal-neutral);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selected {
  padding: 8px 12px 8px 16px;
  background-color: var(--color-background-normal-normal);
  border: 1px solid var(--color-line-assistive);
}
