.smallwrapper {
  flex-direction: column;
}

.SmallStars {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  display: flex;
  padding: 10px 16px;
  flex: 1;
  gap: 16px;
}

.emptywrapper {
  justify-content: center;
  font: var(--font-b2-no-m);
  color: var(--color-label-assistive);
}

.detailwrapper {
  justify-content: space-between;
  font: var(--font-b3-no-m);
  color: var(--color-label-alternative);
  flex: 1;
}

.SmallStars {
  padding: 0 16px;
}
