.Section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fbfbfb;
  padding: 12px;
}

.Section > h1 {
  font-size: 1.2rem;
  font-weight: 800;
}

.Section > h2 {
  font-size: medium;
  font-weight: 200;
}

.Section > p {
  font-size: medium;
  font-weight: 600;
}
