.Section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fbfbfb;
  padding: 12px;
}

.Section > h1 {
  font: var(--font-t1);
}

.Section > h2 {
  font: var(--font-b1);
}
