.PrgrPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.selectedzone {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 10px 16px;
  gap: 10px;
  position: sticky;
  top: 56px;
  background-color: white;
  z-index: 1;
}

.step4 {
  position: relative;
  top: inherit;
}
