.ReservatorInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.headerwarpper {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-line-alternative);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.heading {
  font: var(--font-t2-b);
  color: var(--color-primary-strong);
}

.text {
  font: var(--font-b4-no-m);
  color: var(--color-label-alternative);
}

.inputgroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label {
  font: var(--font-t3-b);
  color: var(--color-label-normal);
}
