.ListItems {
  padding: 8px 6px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-bottom: 1px solid var(--color-line-alternative);
}

.imagewrapper {
  width: 100px;
  height: 100px;
  background-color: gray;
  overflow: hidden;
  border-radius: 12px;
  display: flex; /* 추가 */
  justify-content: center; /* 추가 */
  align-items: center; /* 추가 */
}

.image {
  width: 100%; /* 추가 */
  height: 100%; /* 추가 */
  object-fit: cover;
  object-position: center;
}

.textwrapper {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.titlewrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font: var(--font-t2-b);
  color: var(--color-label-strong);
}

.subtitle {
  font: var(--font-b3-no-m);
  color: var(--color-label-assistive);
}

.pricewrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  font: var(--font-b3-no-b);
}

.tag {
  font: var(--font-c2-m);
  color: var(--color-label-assistive);
}
