.title {
  background-color: var(--color-light-blue-100);
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 8px 14px;
  font: var(--font-orig-h1);
}

.title > div {
  text-align: center;
}
