.Progressbar {
  width: 70px;
  height: 44px;
  padding: 8px 14px;

  font: var(--font-t2);
  text-align: center;
}

.active {
  background-color: var(--color-blue-02);
  color: #f5f5f5;
}

.unactive {
  background-color: var(--color-white);
  color: var(--color-gray-400);
  border: 1px solid var(--color-blue-02);
}
