.LocalTripProduct {
  display: flex;
  flex-direction: column;
}

.topwrapper {
  display: flex;
  flex-direction: column;
}

.textwrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 28px 16px 0 16px;
}

.title {
  font: var(--font-t1-b);
  color: var(--color-primary-strong);
}

.subtitle {
  font: var(--font-b3-re-r-160);
  color: var(--color-label-assistive);
}

.buttonwrapper {
  width: 100%;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding: 16px;
}

.buttonwrapper::-webkit-scrollbar {
  display: none;
}

.packagepreviewwrapper {
  padding: 4px 16px 28px 16px;
}
