.PackagePreview {
  border: 1px solid var(--color-line-normal);
  border-radius: 12px;
  padding: 18px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  font: var(--font-b2-no-b);
  color: var(--color-label-normal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seemorebtn {
  font: var(--font-b3-no-sb);
  color: var(--color-label-assistive);
  display: flex;
  align-items: center;
}

.listswrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listwrapper {
  display: flex;
  gap: 12px;
}

.imagewrapper {
  width: 122px;
  height: 122px;
  background-color: gray;
  overflow: hidden;
  border-radius: 12px;
  display: flex; /* 추가 */
  justify-content: center; /* 추가 */
  align-items: center; /* 추가 */
}

/* 나의 이것좀 알지... 비효율 */
.image {
  width: 100%; /* 추가 */
  height: 100%; /* 추가 */
  object-fit: cover;
  object-position: center;
}

.textwrapper {
  padding: 6px 0 9px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.info {
  display: flex;
  gap: 6px;
  align-items: center;
}

.tag {
  background-color: var(--color-fill-alternative);
  padding: 4px 8px;
  border-radius: 6px;
  font: var(--font-b4-no-sb);
  color: var(--color-primary-normal);
}

.price {
  font: var(--font-b3-no-b);
  color: var(--color-primary-strong);
}

.titlewrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listtitle {
  display: -webkit-box;
  line-clamp: 3; /* 원하는 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* nowrap 대신 normal 사용 */
}

.listsubtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%; /* 추가 */
}

.listtitle {
  font: var(--font-b2-no-m);
  color: var(--color-label-strong);
}

.listsubtitle {
  font: var(--font-b4-no-m);
  color: var(--color-label-assistive);
}
